<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Meu Site em Flask</title>
    <style>
        body{
            background-image: linear-gradient(90deg, blue, lightblue);
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: Arial
        }
        button {
            padding: 10px 20px;
            background-color: #00bfff;
            border: none;
            border-radius: 8px;
            font-size: 18px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>MEU SITE EM PYTHON</h1>
    <button type="submit" onclick="teste()">CLIQUE!</button>
    <p id="demo"></p>
    <script>
        function teste(){
            let numero1 = parseFloat(window.prompt("Digite um número"));
            let numero2 = parseFloat(window.prompt("Digite um número"));
            let resultado = document.getElementById('demo');
            let soma = numero1 + numero2;
            resultado.innerHTML = `A soma entre ${numero1} + ${numero2} = ${soma}`;
        }
    </script>
</body>
</html>